<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <div class="custom-title">
      <h1>Mis Tareas</h1>
      <p>
        {{ totalCount === 0 ? 'No hay tareas pendientes' : completedCount + ' de ' + totalCount + '
        completadas' }}
      </p>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" [scrollY]="false" class="main-content">
  @if(loading){
    <app-loading></app-loading>
  }
  @else{
    <!-- Empty State -->
    @if(tasks.length === 0){
    <div class="empty-state">
      <div class="empty-icon">
        <ion-icon name="ellipse-outline"></ion-icon>
      </div>
      <h3>No hay tareas</h3>
      <p>Toca el botón + para agregar tu primera tarea</p>
    </div>
    }
    <!-- Tasks List -->
    @if(tasks.length > 0){
      <div class="list-container">
      @for(task of tasks; track task.id) {
      <app-task-card [task]="task" (toggle)="toggleTask($event)" (delete)="deleteTask($event)"></app-task-card>
      }
      </div>
    }

    <!-- Progress Bar -->
    @if(totalCount > 0){
      <div class="progress-container">
        <div class="progress-info">
          <span>Progreso</span>
          <span>{{ progressPercentage }}%</span>
        </div>
        <ion-progress-bar [value]="progressPercentage / 100"></ion-progress-bar>
      </div>
    }

    <!-- FAB -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="custom-fab" (click)="openModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Modal -->
    <ion-modal id="formModal" [isOpen]="isModalOpen" (didDismiss)="closeModal()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Nueva Tarea</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <div class="formcontent">
          <form [formGroup]="taskForm" (ngSubmit)="addTask()">
            <ion-item>
              <ion-label position="stacked">Título *</ion-label>
              <ion-input formControlName="title" placeholder="¿Qué necesitas hacer?">
              </ion-input>
            </ion-item>
          </form>
        </div>
        <ion-footer translucent>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear" (click)="closeModal()">Cancelar</ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button color="primary" [disabled]="taskForm.invalid" (click)="addTask()">
                Crear Tarea
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-footer>
      </ng-template>
    </ion-modal>
  }
</ion-content>
